<h1 class="centrar clear">USUARIOS REGISTRADOS</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Tel&eacute;fono</th>
      <th scope="col">Direcci&oacute;n</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of usuarios">
      <td>{{u.primerNombre}}</td>
      <td>{{u.segundoNombre}}</td>
      <td>{{u.primerApellido}}</td>
      <td>{{u.segundoApellido}}</td>
      <td>{{u.telefono}}</td>
      <td>{{u.direccion}}</td>
      <td>
        <img src="../../assets/edit.png" class="cursor" (click)="editarUsuario(u)">
        <img src="../../assets/trash.png" class="cursor" (click)="eliminarUsuario(u)">
      </td>
    </tr>
  </tbody>
</table>