<div class="clear">
  <h1> Crear nuevo usuario</h1>
  <form class="form-horizontal" action="/action_page.php" class="mainForm">
    <div *ngIf="!esValido" class="alert alert-danger" role="alert">
      <strong>Error!</strong> {{mensaje}}
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="primerNombre"><span class="requerido">*</span>Primer Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="primerNombre" id="primerNombre" [(ngModel)]="usuario.primerNombre"
          placeholder="Ingrese su primer nombre">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="segundoNombre">Segundo Nombre:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="segundoNombre" id="segundoNombre" [(ngModel)]="usuario.segundoNombre"
          placeholder="Ingrese su segundo nombre">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="primerApellido"><span class="requerido">*</span>Primer Apellido:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="primerApellido" id="primerApellido" [(ngModel)]="usuario.primerApellido"
          placeholder="Ingrese su primer apellido">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="segundoApellido">Segundo Apellido:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="segundoApellido" id="segundoApellido" [(ngModel)]="usuario.segundoApellido"
          placeholder="Ingrese su segundo apellido">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="telefono">Teléfono:</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" name="telefono" id="telefono" [(ngModel)]="usuario.telefono" placeholder="Ingrese su teléfono">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="direccion"><span class="requerido">*</span>Dirección:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="direccion" id="direccion" [(ngModel)]="usuario.direccion"
          placeholder="Ingrese su dirección">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" (click)="saveOrUpdateUsuario()" class="btn btn-default btn-save">Guardar</button>
      </div>
    </div>
  </form>
</div>